<h1> Welcome</h1>

<br>


<h5>Ruby_Language Demonstration Page</h5>
<%= link_to 'Ruby', ruby_language_index_path %> 

<hr>
<br>

<h5>Datatable Population Options</h5>
<%= link_to 'Reports', report_index_path %> |
<%= link_to 'Activities', activity_index_path %> | 
<%= link_to 'Cities', cities_index_path %> 

<hr>
<br>

<h5>Backend calls</h5>    
<%= link_to 'Users',  users_index_path %> |   
<a href="last/Rippetoe">Last Name</a>

<hr>
<br>

<h5>Webpage Components</h5> 

<%= link_to 'Demonstration Components', component_index_path %> |
<%= link_to 'Tasks', tasks_path %>   |
<%= link_to 'Articles', article_index_path %>  


<hr>
<br>


<h5>Concern Module</h5> 

<%= link_to 'Demonstration Concern and Module', concern_module_index_path %>  |
<%= link_to 'Todo Lists', todo_lists_path %> 



<hr>
<br>

<h5>Excel Uploads</h5> 

<%= link_to 'Uploads', uploads_path %> 

<hr>
<br>




<%= button_to "Welcome Message", {:action => "new"}, {:class => "btn btn-primary m-3"} %>
                    
        
        
